@import '_partial/_normalize'
@import '_partial/_base'
@import '_partial/_header'
@import '_partial/_home-post-list'
@import '_partial/_archive-post-list'
@import '_partial/_post'
@import '_partial/_footer'
@import '_partial/_mq'

@media screen and (prefers-color-scheme dark)
  html
    --background-color: #272824
    --on-background-color: #dadbd7
    --border-color: #555