<div class="post">
    <article class="post-block">
        <h1 class="post-title">
            <%= page.title %>
        </h1>
        <%- partial('post-info', {item: page}) %>
        <div class="post-content">
            <%- page.content %>
        </div>
    </article>
</div>
<div id="gitalk-container"></div>