.archive
  max-width 500px
  margin 3em auto

  .tag-list
    margin 0
    padding 0
    overflow hidden
    list-style none
    border-bottom 1px dashed var(--border-color)

  .tag-list-item
    float left
    margin-right 5px

  .tag-list-link
    font-size 1rem
    color var(--primary-color)

    &:hover
      color var(--dark-color)

  .tag-list-count
    top -3px
    font-size 14px
    position relative
    margin-left 2px

  .post-item
    padding 2px 0 0 50px

  .post-time, .post-title-link
    font-size 1rem

  .post-title-link
    display block
    margin-left 125px
    color var(--primary-color)
    word-break break-all

    &:hover
      border-bottom 0
      color var(--dark-color)

  .post-info
    float left
    width 125px
    color var(--light-color)

  .post-tag
    display none
