.archive
  margin 0 auto 20px

  .tag-list
    margin 0
    padding 0
    overflow hidden
    list-style none
    border-bottom 1px dashed var(--border-color)

  .tag-list-item
    float left
    margin-right 5px

  .tag-list-link
    font-size 1rem
    color var(--primary-color)

    &:hover
      opacity 0.8

  .tag-list-count
    top -3px
    font-size 14px
    position relative
    margin-left 2px

  .archive-year
    font-weight normal

  .post-item
    padding 2px 0 0 50px
    display flex

  .post-time, .post-title-link
    font-size 1rem

  .post-title-link
    display block
    margin-left 125px
    color var(--primary-color)
    word-break break-all

    &:hover
      text-decoration underline

  .post-info
    float left
    width 125px
    color var(--light-color)

  .post-tag
    display none

@media screen and (max-width 700px)
  .archive
    .post-item
      flex-direction column-reverse
      padding-left 15px
      span
        font-size 12px
        font-style italic
        &:before
          content '- '
      .post-title-link
        margin-left 0
