.paginator
  margin 4em 0
  text-align center

  .next, .prev
    display inline-block
    margin 0 4px
    padding 4px 12px
    border-radius 4px
    font-size 14px
    color var(--on-primary-color)
    background-color var(--primary-color)

    &:hover
      background-color var(--primary-hover-color)

#disqus_thread, .ds-thread
  margin-bottom 2em
