footer
  padding-bottom 1px

  .paginator
    margin 20px 0
    text-align center

    .next, .prev
      display inline-block
      margin 0 4px
      padding 4px 12px
      border-radius 4px
      font-size 14px
      color var(--on-primary-color)
      background-color var(--primary-color)

      &:hover
        background-color var(--primary-hover-color)

  .copyright
    margin 20px 0
    border-top 1px solid var(--border-color)
    text-align center

    p, a
      color var(--light-color)

    a:hover
      color var(--primary-color)

#disqus_thread, .ds-thread
  margin-bottom 2em
