header
  min-height 60px
  padding 20px 0
  display flex
  justify-content space-between

  .logo
    display flex
    flex-direction column
    justify-content center
    &:hover
      opacity 0.8
    .title
      font-size 24px
    .sub
      font-style italic

  .nav
    display flex
    align-items center
    gap 15px

  .nav-list-item
    a
      font-size 18px
