header
  height 78px
  position fixed
  box-sizing border-box
  display flex
  align-items center
  top 0
  z-index 5
  background-color var(--header-background)
  backdrop-filter blur(8px)
  width 100%
  .wrap
    display flex
    justify-content space-between
  .logo
    display flex
    align-items center
    &:hover
      opacity 0.8
    .logo-wrap
      display flex
      flex-direction column
      justify-content center
      .title
        font-size 24px
        line-height 1
      .sub
        font-style italic

  .nav
    display flex
    align-items center
    gap 15px

  .nav-list-item
    a
      font-size 18px

@media screen and (max-width 700px) 
  header
    .nav
      display none