.home.post-list
    margin 2em 0
    .post-list-item
        padding-bottom 20px
    .post-block
        .post-title
            font-weight normal
    .post-content
        h2, h3, h4, h5, h6
            font-size 16px
            font-weight normal
        & > ul
            list-style initial
    .read-more
        color var(--primary-color)
        &:hover
            border-bottom 1px solid var(--primary-color)

@media screen and (max-width 700px)
    .home.post-list
        margin-top 0